<nav>
    <a href="/">    
    <h2>In My Feelings</h2>
    </a>
    <section>
        <a href="/dashboard/1">
            <button>write</button>
        </a>
            <button id="logout">logout</button>
        <a href="/signup">
            <button>{{user.user_name}}</button>
        </a>

    </section>
  </nav>
  <section class="middle"></section>