<nav>
    <h2>In My Feelings</h2>
    <section>
        <a href="/dashboard/1">
            <button>write</button>
        </a>
        <a href="/login">
            <button>logout</button>
        </a>
        <a href="/signup">
            <button>{{user.user_name}}</button>
        </a>

    </section>
  </nav>

  <section>
    {{user.user_name}}
    
   
  </section>