 {{>home-nav}}
 <section class="cta">
    <section>
        <p>Empower You Inner Dialogue,</p>
        <p>Discover and Share Stories,</p>
        <p>Engage with like-minded souls on a journey of self-reflection</p>
    </section>
    <button>Start reading</button>
 </section>
 <section class="top-posts">
    Top Posts
 </section>
<section class="entries-category">
    <section class="entries">
        entries
    </section>
    <section class="categories">
        categories
    </section>
</section>