 <body>
    {{>home-nav}}
 <section class="cta">
    <section>
        <p>Empower You Inner Dialogue,</p>
        <p>Discover and Share Stories,</p>
        <p>Engage with like-minded souls on a journey of self-reflection</p>
    </section>
    <a href="/signup">
    <button>Start reading</button>
    </a>
 </section>
 <section class="top-posts">

 </section>
<section class="entries-category">
    <section class="entries">

 
        
       
    </section>

</section>
<script src="/js/entries.js"></script>
 </body>
 
 