

<body>
     {{>home-nav}}
<section class="middle"></section>
<section class="wrapper-container">
<form id="loginForm">
    <header>Login Form</header>
<input id="userNameInput" type="text" placeholder="enter username">
<input id="userPasswordInput" type="password" placeholder="enter password">
<button>submit</button>
</form>
</section>
<script src="/js/login.js"></script>
</body>