<body>
 {{>home-nav}}
   <section class="middle"></section>

<section class="wrapper-container">
<form id="signupForm">
    <header>Sign up Form</header>
<input id="newUserNameInput" type="text" placeholder="enter username">
<input id="newUserPasswordInput" type="password" placeholder="enter password">
<button>submit</button>
</form>
</section>
<script src="/js/signup.js"></script>
</body>
