.wrapper-container{
    max-width: var(--mid-width);
    margin: 30px auto;
    border: black solid 1px;
    
}

#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}
#loginForm input, #loginForm button{
    height: 50px;
}