:root{
    --full-width: 1400px;
	--padding10: 10px;
	--mid-width: 800px;
	--blackBorder:  black solid 1px
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: var(--full-width);
    margin: 0 auto;
    padding: 30px var(--padding10);
}

.cta{
	border: black solid 1px;
	max-width: var(--full-width);
	margin:  0 auto;
	padding: 20px var(--padding10);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100px;
}
.cta p {
	font-size: x-large;
	line-height: 1.2;
}
.cta button{
	margin: 10px 0;
	width: fit-content;
	font-size: medium;
	padding: 10px;
}
.top-posts{
	max-width: var(--full-width);
	margin:  0 auto;
}
.entries-category{
	display: flex;
	max-width: var(--full-width);
	margin:  0 auto;
	justify-content: space-between;
}